@import url('https://fonts.googleapis.com/css?family=Lato|Vidaloka&display=swap');

body{
	/*background styleing*/
	background: #f7f38f no-repeat center center fixed;
	background: -moz-linear-gradient(top,  #f7f38f 1%, #79e5bc 100%);
	background: -webkit-linear-gradient(top,  #f7f38f 1%,#79e5bc 100%);
	background: linear-gradient(to bottom,  #f7f38f 1%,#79e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f38f', endColorstr='#79e5bc',GradientType=0 );
	min-height: 100vh;

	/*text styling*/
	color: #383838;
	font-family: 'Lato', sans-serif;
	text-align: center;

	/*margin styling*/
	max-width: 80%;
	margin: 0 auto;
}
header{
	font-family: 'Vidaloka', serif;
}
#accountFix{
/*index page create account and forgot password*/
	background: #575757;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	bottom: 0px;
	left: 0px;
	position: absolute;
}
.transparentWhite{
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.3);
	padding: 2%;
}
.buttonSection{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.circleButton{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 3px 3px 3px #888888;
	background-color: #ebebeb;
	font-size: 15px;
	transition: background-color, font-size 0.5s;
}
.circleMargin{
	margin: 2%;
}
.circleButton:hover{
	background-color: white;
	font-size: 16px;
}
.addButton{
	margin-top: 2%;
	padding: 5px;
	padding-left: 17px; 
	padding-right: 17px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #888888;
	font-size: 20px;
}
.editButton{
	font-family: 'Vidaloka', serif;
	margin-top: 2%;
	padding: 5px;
	padding-left: 17px; 
	padding-right: 17px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #888888;
	font-size: 15px;
	margin-top: 3%;
}
.choiceButton{
	padding: 25px 75px 25px 75px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #888888;
	font-size: 25px;
	transition: background-color, font-size 0.5s;
}
.choiceButton:hover{
	background-color: #ebebeb;
	font-size: 26px;
}
.dropdown{
	/*remove default*/
	border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
	padding: 10px 100px 10px 10px;
	font-size: 20px;
	content: "\25bc";
	box-shadow: 3px 3px 3px #888888;
}
#search-button{
	border:none;
	box-shadow: 3px 3px 3px #888888;
	padding: 7px;
	border-radius: 10px;
	font-size: 14px;
}
.searchBox{
	border:none;
	box-shadow: 3px 3px 3px #888888;
	border-radius: 5px;
	padding: 7px 50px 7px 20px;
	font-size: 14px;
}
#navDopdown{
	all: unset;
	z-index: 2;
	padding: 2px 7px 3px 7px;
	margin: 3px;
	font-size: 25px;
	border-radius: 15px;
	background-color: none; 
	transition: background-color, font-size 0.5s;
	left: 0;
	top: 0;
	position: absolute;
}
#navDopdown:hover{
	background: rgba(255, 255, 255, 0.7);
	font-size: 27px;
}
#navDopdown:active{
	background: rgba(189, 189, 189, 0.7);
	font-size: 27px;
}
#nav{
	height: 200px;
  	width: 200px;
  	position: fixed;
 	z-index: 1;
 	top: 0;
 	left: 0;
 	background-color: white; 
 	overflow-x: hidden;
 	padding-top: 50px;
 	display: none;
}
li{
	background-color: white;
	transition: background-color 0.8s;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
}
li:hover{
	background-color: #e3e3e3;
}
a, a:visited, .circleButton{
	text-decoration: none;
	color: black;
}